Source: fcptools
Priority: optional
Maintainer: Jay Oliveri <ilnero@gmx.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: fcptools
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Description: Temp
 Temp

Package: fcptools-dev
Section: devel
Architecture: any
Depends: fcptools (= ${Source-Version})
Description: Test
 Test
