/* Wedit generated resource file */
#include <windows.h>
#include "d:\masm32\freenet\configdll\rsrc.h"


PSHEET1 DIALOG 10, 10, 150, 161
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "General"
FONT 8, "Helv"
BEGIN
    EDITTEXT        ID_EB_LISTENPORT, 14, 52, 32, 12, ES_NUMBER
    GROUPBOX        "Connection", 222, 6, 6, 157, 77
    AUTOCHECKBOX    "Transient", ID_CB_TRANSIENT, 14, 28, 49, 10
    LTEXT           "Listenport", 107, 47, 53, 37, 12
    GROUPBOX        "Connection", 109, 6, 6, 157, 77
    AUTOCHECKBOX    "Inform Write", ID_CB_INFWRITE, 14, 17, 59, 10
    EDITTEXT        ID_EB_BANDWIDTH, 14, 65, 32, 12, ES_NUMBER
    AUTOCHECKBOX    "Inform Read", ID_CB_INFREAD, 14, 38, 59, 10
    LTEXT           "Bandwidth limit (bytes/sec)", 111, 49, 66, 94, 12
END

PSHEET2 DIALOG 10, 10, 150, 161
STYLE WS_CAPTION
CAPTION "Advanced"
FONT 8, "Helv"
BEGIN
END
