/* Wedit generated resource file */
#include <windows.h>
#include "c:\programme\development\lcc\src\portcfg\portcfgres.h"


IDD_MAINDIALOG DIALOG 4, 1, 181, 158
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Freenet initial configuration"
FONT 8, "Helv"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 69, 138, 40, 14
    LTEXT           "Unused port found. Should we use it?", 101, 54, 15, 122, 
                    10
    EDITTEXT        102, 12, 19, 38, 12, ES_NUMBER
    LTEXT           "Otherwise modify it to your choice.", 104, 55, 27, 109, 
                    12
    AUTOCHECKBOX    "Dialup connection (transient node)", 106, 11, 121, 121, 
                    10
    GROUPBOX        "Freenet port", 103, 6, 6, 170, 35
    GROUPBOX        "Connection type", 105, 6, 111, 170, 25
    GROUPBOX        "Disk Cache", -1, 6, 42, 170, 35
    LTEXT           "The more disk space you dedicate to Freenet the better.", 
                    -1, 103, 50, 67, 24
    EDITTEXT        109, 10, 51, 32, 12, ES_NUMBER
    LTEXT           "MB", -1, 44, 53, 19, 9
    LTEXT           "0", 107, 10, 64, 31, 10
    LTEXT           "MB free", -1, 44, 64, 29, 10
    GROUPBOX        "IP address", -1, 6, 77, 169, 31
    LTEXT           "You have to specify your IP address, or leave it to any value if you are on a dial up connection.", 
                    -1, 64, 82, 106, 25
    EDITTEXT        111, 9, 89, 50, 12, ES_AUTOHSCROLL
END
