#include "\masm32\include\resource.h"
#include "d:\masm32\freenet\rsrc.h"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
500                     ICON    DISCARDABLE     "Freenet.ico"
501                     ICON    DISCARDABLE     "noFnet.ico"
/////////////////////////////////////////////////////////////////////////////
